.custom-select {
  position: relative;
  width: 100%;
  &__trigger {
    width: 100%;
    padding: 13px 16px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 8px;
  }

  &__arrow {
    display: flex;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.is-open .custom-select__arrow {
    transform: rotate(0);
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 240px;
    overflow: auto;
    display: none;
    z-index: 10;
    width: 100%;
  }

  &.is-open &__dropdown {
    display: block;
  }

  &__option {
    padding: 10px 16px;
    cursor: pointer;
  }
}
