.mega-menu-mobile {
  &__outer {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: auto;
    background-color: var(--black);
    padding-top: 8px;
    padding-bottom: 16px;
    transform: translateY(-150%);
    z-index: 9;
    &--opened {
      transform: translateY(0);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: var(--bg-deep-grey);
    border-radius: 8px;
    text-decoration: none;
  }
  &__link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
  &__icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 15px;
    height: 15px;
  }
  &__btn {
    margin-top: 12px;
    display: block;
    text-decoration: none;
  }
}

.menu-accordion {
  &__wrapper {
    padding: 8px 16px;
    background-color: var(--bg-deep-grey);
    border-radius: 8px;
    &.is-open {
      .menu-accordion__icon-wrapper {
        transform: rotate(180deg);
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
  &__icon-wrapper {
    background-color: var(--black);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0;
  }
  &__link {
    color: var(--grey);
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
  }
}
