:root {
  --black: #040404;
  --white: rgb(255, 255, 255);
  --pale-white: #ffffff14;
  --grey: #d0d0d0;
  --bg-deep-grey: #151515;
  --gradient: linear-gradient(97.78deg, #ff5704 66.61%, #ffbc04 100%);
  --gallerySliderGradient:
    linear-gradient(0deg, rgba(250, 247, 240, 0.32), rgba(250, 247, 240, 0.32)), linear-gradient(0deg, rgba(26, 26, 26, 0.4), rgba(26, 26, 26, 0.4));
  --steel: #9e9e9e;
  --slate: #535353;
}
