<section class="about section">
  <div class="about__wrapper section__wrapper container">
    <h2 class="about__title section__title">О компании</h2>
    <div class="about__body">
      <div class="about__info">
        <h3 class="about__info-title">ООО "СиМП"</h3>
        <div class="about__info-text">
          <p>
            Компания «СиМП» предоставляет полный комплекс услуг по металлообработке: лазерная резка металла, гибка, сварка, изготовление деталей и конструкций
            любой сложности. Мы работаем с различными видами металлов и выполняем заказы как по готовым чертежам, так и по индивидуальным техническим заданиям.
            Каждое изделие создаётся с высокой точностью, соблюдением всех размеров, требований и технологий производства.
          </p>
          <p>
            Наше оснащённое современным оборудованием производство расположено в Москве, что позволяет нам оперативно выполнять заказы и обеспечивать стабильное
            качество работ. Мы придерживаемся прозрачной и обоснованной ценовой политики, а также гарантируем выполнение проектов в указанные сроки — от
            единичных деталей до крупносерийного производства.
          </p>
        </div>
        <div class="about__buttons">
          <a href="#popup-request" data-fancybox class="about__button gradient-button">Связаться с нами</a>
          <a href="#popup-calculation" data-fancybox class="about__button calculate-button">Рассчитать стоимость</a>
        </div>
      </div>
      <div class="about__cards">
        <div class="about__card">
          <div class="about__card-main-text">18 <span class="about__card-main-text--small">лет</span></div>
          <div class="about__card-secondary-text">
            продуктивной работы <br />
            в сфере резки металла
          </div>
        </div>
        <div class="about__card">
          <div class="about__card-main-text">30 <span class="about__card-main-text--small">+</span></div>
          <div class="about__card-secondary-text">
            квалифицированных <br />
            специалистов
          </div>
        </div>
        <div class="about__card">
          <div class="about__card-main-text">3 000 <span class="about__card-main-text--small">м²</span></div>
          <div class="about__card-secondary-text">
            собственных производственных <br />
            площадей по всей России
          </div>
        </div>
        <div class="about__card">
          <div class="about__card-main-text">99,5 <span class="about__card-main-text--small">%</span></div>
          <div class="about__card-secondary-text">
            выполненных проектов <br />
            без рекламаций
          </div>
        </div>
      </div>
      <div class="about__buttons about__buttons--mobile">
        <a href="#popup-request" data-fancybox class="about__button gradient-button">Связаться с нами</a>
        <a href="#popup-calculation" data-fancybox class="about__button calculate-button">Рассчитать стоимость</a>
      </div>
    </div>
  </div>
</section>
