<section class="articles section">
  <div class="articles__wrapper section__wrapper container">
    <h2 class="articles__title section__title">Публикации</h2>
    <div class="articles__subtitle section__subtitle">Статьи и новости</div>
    <div class="articles__slider swiper">
      <div class="swiper-wrapper">
        <div class="articles__slide swiper-slide">
          <div class="articles__img-wrapper"><img src="/images/article1.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">21 декабря 2025</div>
            <div class="articles__slide-title">Качество лазерной резки: определение оптимальных параметров</div>
            <div class="articles__text">
              Лазерная резка металла – высокотехнологичный способ разделения металлических материалов при помощи концентрированного светового луча. Благодаря
              сверхточному фокусу и высокой мощности лазера можно быстро разрезать сталь, нержавеющую сталь, алюминий и другие металлы по сложным контурам с
              минимальными погрешностями.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>

        <div class="articles__slide swiper-slide">
          <div class="articles__img-wrapper"><img src="/images/article2.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">27 декабря 2025</div>
            <div class="articles__slide-title">Резка труб в размер: особенности и нюансы точного раскроя</div>
            <div class="articles__text">
              Резка трубного проката — не просто разделение металла на участки, это ключевой этап, определяющий качество сборки и дальнейшую эксплуатацию
              инженерных систем.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <div class="articles__img-wrapper"><img src="/images/article3.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">28 декабря 2025</div>
            <div class="articles__slide-title">Марки алюминия и их применение</div>
            <div class="articles__text">
              Алюминий – один из ключевых конструкционных материалов, широко используемый во многих отраслях благодаря сочетанию уникальных свойств. Он примерно
              в три раза легче стали, образует на поверхности прочную оксидную пленку, обеспечивающую коррозионную стойкость, и обладает высокой
              теплопроводностью и электропроводностью.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <div class="articles__img-wrapper"><img src="/images/article1.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">21 декабря 2025</div>
            <div class="articles__slide-title">Качество лазерной резки: определение оптимальных параметров</div>
            <div class="articles__text">
              Лазерная резка металла – высокотехнологичный способ разделения металлических материалов при помощи концентрированного светового луча. Благодаря
              сверхточному фокусу и высокой мощности лазера можно быстро разрезать сталь, нержавеющую сталь, алюминий и другие металлы по сложным контурам с
              минимальными погрешностями.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>

        <div class="articles__slide swiper-slide">
          <div class="articles__img-wrapper"><img src="/images/article2.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">27 декабря 2025</div>
            <div class="articles__slide-title">Резка труб в размер: особенности и нюансы точного раскроя</div>
            <div class="articles__text">
              Резка трубного проката — не просто разделение металла на участки, это ключевой этап, определяющий качество сборки и дальнейшую эксплуатацию
              инженерных систем.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
        <div class="articles__slide swiper-slide">
          <div class="articles__img-wrapper"><img src="/images/article3.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">28 декабря 2025</div>
            <div class="articles__slide-title">Марки алюминия и их применение</div>
            <div class="articles__text">
              Алюминий – один из ключевых конструкционных материалов, широко используемый во многих отраслях благодаря сочетанию уникальных свойств. Он примерно
              в три раза легче стали, образует на поверхности прочную оксидную пленку, обеспечивающую коррозионную стойкость, и обладает высокой
              теплопроводностью и электропроводностью.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles__slider-footer">
        <a href="/" class="articles__more-btn more-btn">Все статьи</a>
        <div class="articles__slider-navigation slider-navigation">
          <div class="slider-navigation__wrapper">
            <div class="slider-navigation__button slider-navigation__button--white articles__slider-button-prev slider-navigation__button-prev">
              <svg
                class="slider-navigation__arrow slider-navigation__arrow--prev"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="slider-navigation__button slider-navigation__button--white articles__slider-button-next slider-navigation__button-next">
              <svg
                class="slider-navigation__arrow slider-navigation__arrow--next"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
