<div class="articles-page">
  <div class="articles-page__wrapper">
    <div class="articles-page__list">
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article1.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">21 декабря 2025</div>
            <div class="articles__slide-title">Качество лазерной резки: определение оптимальных параметров</div>
            <div class="articles__text">
              Лазерная резка металла – высокотехнологичный способ разделения металлических материалов при помощи концентрированного светового луча. Благодаря
              сверхточному фокусу и высокой мощности лазера можно быстро разрезать сталь, нержавеющую сталь, алюминий и другие металлы по сложным контурам с
              минимальными погрешностями.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article2.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">27 декабря 2025</div>
            <div class="articles__slide-title">Резка труб в размер: особенности и нюансы точного раскроя</div>
            <div class="articles__text">
              Резка трубного проката — не просто разделение металла на участки, это ключевой этап, определяющий качество сборки и дальнейшую эксплуатацию
              инженерных систем.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article3.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">28 декабря 2025</div>
            <div class="articles__slide-title">Марки алюминия и их применение</div>
            <div class="articles__text">
              Алюминий – один из ключевых конструкционных материалов, широко используемый во многих отраслях благодаря сочетанию уникальных свойств. Он примерно
              в три раза легче стали, образует на поверхности прочную оксидную пленку, обеспечивающую коррозионную стойкость, и обладает высокой
              теплопроводностью и электропроводностью.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article1.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">21 декабря 2025</div>
            <div class="articles__slide-title">Качество лазерной резки: определение оптимальных параметров</div>
            <div class="articles__text">
              Лазерная резка металла – высокотехнологичный способ разделения металлических материалов при помощи концентрированного светового луча. Благодаря
              сверхточному фокусу и высокой мощности лазера можно быстро разрезать сталь, нержавеющую сталь, алюминий и другие металлы по сложным контурам с
              минимальными погрешностями.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article2.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">27 декабря 2025</div>
            <div class="articles__slide-title">Резка труб в размер: особенности и нюансы точного раскроя</div>
            <div class="articles__text">
              Резка трубного проката — не просто разделение металла на участки, это ключевой этап, определяющий качество сборки и дальнейшую эксплуатацию
              инженерных систем.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article3.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">28 декабря 2025</div>
            <div class="articles__slide-title">Марки алюминия и их применение</div>
            <div class="articles__text">
              Алюминий – один из ключевых конструкционных материалов, широко используемый во многих отраслях благодаря сочетанию уникальных свойств. Он примерно
              в три раза легче стали, образует на поверхности прочную оксидную пленку, обеспечивающую коррозионную стойкость, и обладает высокой
              теплопроводностью и электропроводностью.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article1.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">21 декабря 2025</div>
            <div class="articles__slide-title">Качество лазерной резки: определение оптимальных параметров</div>
            <div class="articles__text">
              Лазерная резка металла – высокотехнологичный способ разделения металлических материалов при помощи концентрированного светового луча. Благодаря
              сверхточному фокусу и высокой мощности лазера можно быстро разрезать сталь, нержавеющую сталь, алюминий и другие металлы по сложным контурам с
              минимальными погрешностями.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article2.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">27 декабря 2025</div>
            <div class="articles__slide-title">Резка труб в размер: особенности и нюансы точного раскроя</div>
            <div class="articles__text">
              Резка трубного проката — не просто разделение металла на участки, это ключевой этап, определяющий качество сборки и дальнейшую эксплуатацию
              инженерных систем.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
      <div class="articles-page__item articles">
        <div class="articles__card-wrapper">
          <div class="articles__img-wrapper"><img src="/images/article3.png" alt="" class="articles__img" /></div>
          <div class="articles__slide-body">
            <ul class="articles__tag-list">
              <li class="articles__tag">Статьи</li>
            </ul>
            <div class="articles__date">28 декабря 2025</div>
            <div class="articles__slide-title">Марки алюминия и их применение</div>
            <div class="articles__text">
              Алюминий – один из ключевых конструкционных материалов, широко используемый во многих отраслях благодаря сочетанию уникальных свойств. Он примерно
              в три раза легче стали, образует на поверхности прочную оксидную пленку, обеспечивающую коррозионную стойкость, и обладает высокой
              теплопроводностью и электропроводностью.
            </div>
            <a href="" class="articles__more">Читать далее...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
