<section class="clients section">
  <div class="clients__wrapper section__wrapper container">
    <h2 class="clients__title section__title">Нам доверяют</h2>
    <div class="clients__subtitle section__subtitle">Клиенты, для которых мы выполняли производство и изготовление изделий</div>
    <ul class="clients__list">
      <li class="clients__item">
        <img src="/images/companies1.svg" alt="" class="clients__logo" />
      </li>
      <li class="clients__item">
        <img src="/images/companies2.svg" alt="" class="clients__logo" />
      </li>
      <li class="clients__item">
        <img src="/images/companies3.svg" alt="" class="clients__logo" />
      </li>
      <li class="clients__item">
        <img src="/images/companies4.svg" alt="" class="clients__logo" />
      </li>
      <li class="clients__item">
        <img src="/images/companies5.svg" alt="" class="clients__logo" />
      </li>
      <li class="clients__item">
        <img src="/images/companies6.svg" alt="" class="clients__logo" />
      </li>
    </ul>
  </div>
</section>
