<div class="contents">
  <div class="contents__wrapper">
    <span class="contents__title">Содержание:</span>
    <ul class="contents__list">
      <li class="contents__item">Что обычно понимают под «металлическим сечением»</li>
      <li class="contents__item">Сечение на чертеже: «показываем только то, что получилось при пересечении»</li>
      <li class="contents__item">Разрез: «показываем деталь, но как будто часть её срезали»</li>
      <li class="contents__item">Главное отличие: что именно «попадает на картинку»</li>
      <li class="contents__item">Как это выглядит в реальной работе с металлом: примеры из цеха</li>
      <li class="contents__item">Сечения в расчётах и «строение физических свойств металлов» в конструкции</li>
      <li class="contents__item">Типовые ошибки: где чаще всего путают сечение и разрез</li>
      <li class="contents__item">Как читать чертёж быстро и без нервов</li>
      <li class="contents__item">Вопросы и ответы</li>
      <li class="contents__item">Практические выводы</li>
    </ul>
  </div>
</div>
