<section class="contacts-route section">
  <div class="contacts-route__wrapper container section__wrapper">
    <h2 class="contacts-route__title">Как добраться</h2>
    <div class="contacts-route__body">
      <div class="contacts-route__column">
        <img src="/images/car.svg" alt="" class="contacts-route__icon" />
        <div class="contacts-route__column-title">На машине:</div>
        <div class="contacts-route__text">
          <p>
            После съезда со стороны 2-го Южнопортового проезда через 30 метров повернуть налево, пересекая тротуар и продолжить движение до проходной Завода
            Деревоизделий (ЗДИ). На проходной сказать, что едете в СиМП.
          </p>
          <p>
            Проезжаем вдоль первое здание на территории, поворачиваем налево и продолжаем путь вдоль него до второй двери (вход напротив курьерской службы). 1
            этаж 106 офис.
          </p>
          <p>Чтобы попасть в цех необходимо повернуть направо, огибая здание и дойти до первой двери по правой стороне.</p>
        </div>
        <img src="/images/mapRoute.png" alt="" class="contacts-route__img contacts-route__img--dark" />
        <a target="_blank" href="/" class="contacts-route__route-link">Построить маршрут</a>
      </div>
      <div class="contacts-route__column">
        <img src="/images/walk.svg" alt="" class="contacts-route__icon" />
        <div class="contacts-route__column-title">Пешком:</div>
        <div class="contacts-route__text">
          <p>
            После перехода дороги со стороны метро «Кожуховская» упираемся в здание «Сбербанк» и огибаем его справа. Далее идем по дороге, которая уходит левее,
            вверх. Проходим через проходную, пропуск не требуется.
          </p>
          <p>
            Далее идем вдоль первого здания на территории (по левую руку), поворачиваем налево и продолжаем путь вдоль него до второй двери (вход напротив
            курьерской службы). 1 этаж 106 офис.
          </p>
          <p>Чтобы попасть в цех необходимо повернуть направо, огибая здание и дойти до первой двери по правой стороне.</p>
        </div>
        <img src="/images/mapPhoto.png" alt="" class="contacts-route__img contacts-route__img--dark" />
        <a target="_blank" href="/" class="contacts-route__route-link">Построить маршрут</a>
      </div>
    </div>
  </div>
</section>
