<section class="contacts section">
  <div class="contacts__wrapper section__wrapper container">
    <h2 class="contacts__title section__title">Наши контакты</h2>
    <div class="contacts__body">
      <div class="contacts__main">
        <ul class="contacts__info-list">
          <li class="contacts__info">
            <div class="contacts__info-main">+7 (495) 208-06-83</div>
            <div class="contacts__info-sub">Пн - Пт с 10:00 - 18:00</div>
          </li>
          <li class="contacts__info">
            <div class="contacts__info-main">г. Москва, 2-й Южнопортовый проезд, д.26А, стр.1, офис 106</div>
            <a href="/" class="contacts__info-sub">Как добраться?</a>
          </li>
          <li class="contacts__info">
            <div class="contacts__info-main">info@lazermetal.ru</div>
            <a href="/" class="contacts__info-sub">Написать письмо</a>
          </li>
        </ul>
        {{> Social className="contacts__social" isBlack=true}}
      </div>
      <div class="contacts__map-wrapper">
        <!-- <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A08d28f023d693a7e089fb0fb20c59dac2346d8f276c45faefcabfba04f418150&amp;source=constructor"
          width="500"
          height="400"
          frameborder="0"
        ></iframe> -->
        <div class="contacts__map" id="map" style="width: 600px; height: 400px"></div>
      </div>
    </div>
  </div>
</section>
