<section class="contacts-requisites section">
  <div class="contacts-requisites__wrapper container section__wrapper">
    <h2 class="contacts-requisites__title">Реквизиты и обратная связь</h2>
    <div class="contacts-requisites__body">
      <div class="contacts-requisites__column">
        <div class="contacts-requisites__column-title">Реквизиты компании</div>
        <div class="contacts-requisites__requisites-table requisites-table" data-collapse>
          <div class="requisites-table__wrapper" data-collapse-content>
            <table class="requisites-table__table">
              <tbody>
                <tr>
                  <td class="requisites-table__label">Полное наименование:</td>
                  <td>Общество с ограниченной ответственностью "СиМП"</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">ИНН/КПП:</td>
                  <td>7727743883 / 772701001</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Юридический адрес:</td>
                  <td>117303, г. Москва, Вн.тер.г. Муниципальный округ Зюзино, ул. Малая Юшуньская, д. 1, корпус 1, помещение 1/Ц</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Расчетный счет:</td>
                  <td>40702810538000164392</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Банк:</td>
                  <td>ПАО «Сбербанк России»</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Корсчет:</td>
                  <td>30101810400000000225</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Полное наименование:</td>
                  <td>Общество с ограниченной ответственностью "СиМП"</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">ИНН/КПП:</td>
                  <td>7727743883 / 772701001</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Юридический адрес:</td>
                  <td>117303, г. Москва, Вн.тер.г. Муниципальный округ Зюзино, ул. Малая Юшуньская, д. 1, корпус 1, помещение 1/Ц</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Расчетный счет:</td>
                  <td>40702810538000164392</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Банк:</td>
                  <td>ПАО «Сбербанк России»</td>
                </tr>
                <tr>
                  <td class="requisites-table__label">Корсчет:</td>
                  <td>30101810400000000225</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="prices__table-collapse" data-collapse-trigger>
            <span class="prices__table-collapse-text">Развернуть вниз</span>
            <img src="/images/accordionArrow.svg" alt="" class="prices__table-collapse-arrow" />
          </div>
        </div>
        <a href="/" class="contacts-requisites__download">Скачать в PDF</a>
      </div>
      <div class="contacts-requisites__column">
        <form action="#" class="hero-form">
          <div class="contacts-requisites__column-title">Задать вопрос</div>
          <div class="contacts-requisites__form-text">
            Менеджеры компании с радостью ответят на ваши вопросы, произведут расчет стоимости услуг и подготовят индивидуальное коммерческое предложение.
          </div>
          <div class="hero-form__sections">
            <div class="hero-form__section">
              <span class="hero-form__label">Имя</span>
              <input type="text" class="hero-form__input-name hero-form__input" name="name" placeholder="Ваше имя..." />
            </div>
            <div class="hero-form__section">
              <span class="hero-form__label">Номер телефона</span>
              <input type="tel" class="hero-form__input-phone hero-form__input" name="phone" />
            </div>
          </div>
          <div class="hero-form__section">
            <span class="hero-form__label">Сообщение</span>
            <textarea class="hero-form__input-textarea hero-form__input contacts-requisites__textarea" name="comment" placeholder="Ваше сообщение"></textarea>
          </div>

          <button class="hero-form__submit">Получить расчет бесплатно</button>
          <div class="hero-form__license">Нажимая на кнопку, я принимаю условия <a href="/" target="_blank">соглашения</a></div>
        </form>
      </div>
    </div>
  </div>
</section>
