<section class="equipment section">
  <div class="equipment__wrapper section__wrapper container">
    <h2 class="equipment__title section__title">Наше оборудование</h2>
    <div class="equipment__subtitle section__subtitle">Отзывы наших клиентов об оказанных услугах</div>
    <div class="equipment__slider swiper">
      <div class="swiper-wrapper">
        <div class="equipment__slide swiper-slide">
          <div class="equipment__img-wrapper"><img src="/images/equipment1.png" alt="" class="equipment__img" /></div>
          <div class="equipment__slide-title">
            Станок для лазерной резки <br />
            LaserCut Professional M2 (2 шт)
          </div>
          <ul class="equipment__list">
            <li class="equipment__item">На производстве установлены два волоконных лазерных станка</li>
            <li class="equipment__item">Мощность: 2 кВт</li>
            <li class="equipment__item">Рабочая зона: до 3000×1500 мм</li>
            <li class="equipment__item">Толщина резки: от 0,5 до 16 мм</li>
            <li class="equipment__item">Применение: лазерная резка листового металла, цветных и черных металлов</li>
          </ul>
          <a href="" class="equipment__more">Подробнее</a>
        </div>
        <div class="equipment__slide swiper-slide">
          <div class="equipment__img-wrapper"><img src="/images/equipment2.png" alt="" class="equipment__img" /></div>
          <div class="equipment__slide-title">
            Автоматический станок лазерной резки труб <br />
            Bodor T230
          </div>
          <ul class="equipment__list">
            <li class="equipment__item">Диаметр трубы: до 230 мм</li>
            <li class="equipment__item">Длина обрабатываемой трубы: до 6,5 м</li>
            <li class="equipment__item">Тип резки: волоконный лазер</li>
            <li class="equipment__item">Автоматическая подача материала и выравнивание</li>
            <li class="equipment__item">Идеален для серийного производства и металлоконструкций</li>
          </ul>
          <a href="" class="equipment__more">Подробнее</a>
        </div>
        <div class="equipment__slide swiper-slide">
          <div class="equipment__img-wrapper"><img src="/images/equipment3.png" alt="" class="equipment__img" /></div>
          <div class="equipment__slide-title">
            Гидравлический листогибочный пресс <br />
            Durma AD-R 30135
          </div>
          <ul class="equipment__list">
            <li class="equipment__item">Усилие: 135 тонн</li>
            <li class="equipment__item">Длина гиба: до 3000 мм</li>
            <li class="equipment__item">Контроль: CNC-система Delem</li>
            <li class="equipment__item">Поддержка сложных гибочных операций</li>
            <li class="equipment__item">Высокая повторяемость и надежность</li>
          </ul>
          <a href="" class="equipment__more">Подробнее</a>
        </div>
        <div class="equipment__slide swiper-slide">
          <div class="equipment__img-wrapper"><img src="/images/equipment1.png" alt="" class="equipment__img" /></div>
          <div class="equipment__slide-title">
            Станок для лазерной резки <br />
            LaserCut Professional M2 (2 шт)
          </div>
          <ul class="equipment__list">
            <li class="equipment__item">На производстве установлены два волоконных лазерных станка</li>
            <li class="equipment__item">Мощность: 2 кВт</li>
            <li class="equipment__item">Рабочая зона: до 3000×1500 мм</li>
            <li class="equipment__item">Толщина резки: от 0,5 до 16 мм</li>
            <li class="equipment__item">Применение: лазерная резка листового металла, цветных и черных металлов</li>
          </ul>
          <a href="" class="equipment__more">Подробнее</a>
        </div>
        <div class="equipment__slide swiper-slide">
          <div class="equipment__img-wrapper"><img src="/images/equipment2.png" alt="" class="equipment__img" /></div>
          <div class="equipment__slide-title">
            Автоматический станок лазерной резки труб <br />
            Bodor T230
          </div>
          <ul class="equipment__list">
            <li class="equipment__item">Диаметр трубы: до 230 мм</li>
            <li class="equipment__item">Длина обрабатываемой трубы: до 6,5 м</li>
            <li class="equipment__item">Тип резки: волоконный лазер</li>
            <li class="equipment__item">Автоматическая подача материала и выравнивание</li>
            <li class="equipment__item">Идеален для серийного производства и металлоконструкций</li>
          </ul>
          <a href="" class="equipment__more">Подробнее</a>
        </div>
        <div class="equipment__slide swiper-slide">
          <div class="equipment__img-wrapper"><img src="/images/equipment3.png" alt="" class="equipment__img" /></div>
          <div class="equipment__slide-title">
            Гидравлический листогибочный пресс <br />
            Durma AD-R 30135
          </div>
          <ul class="equipment__list">
            <li class="equipment__item">Усилие: 135 тонн</li>
            <li class="equipment__item">Длина гиба: до 3000 мм</li>
            <li class="equipment__item">Контроль: CNC-система Delem</li>
            <li class="equipment__item">Поддержка сложных гибочных операций</li>
            <li class="equipment__item">Высокая повторяемость и надежность</li>
          </ul>
          <a href="" class="equipment__more">Подробнее</a>
        </div>
      </div>
      <div class="equipment__slider-footer">
        <a href="/" class="equipment__more-btn more-btn">Подробнее</a>
        <div class="equipment__slider-navigation slider-navigation">
          <div class="slider-navigation__wrapper">
            <div class="slider-navigation__button slider-navigation__button--white equipment__slider-button-prev slider-navigation__button-prev">
              <svg
                class="slider-navigation__arrow slider-navigation__arrow--prev"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="slider-navigation__button slider-navigation__button--white equipment__slider-button-next slider-navigation__button-next">
              <svg
                class="slider-navigation__arrow slider-navigation__arrow--next"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
