<footer class="footer">
  <div class="footer__outer">
    <div class="footer__wrapper container">
      <div class="footer__columns">
        <div class="footer__column">
          {{> Logo}} {{> Social className="footer__social"}}
          <div class="footer__copyright-wrapper">
            <a href="/" class="footer__copyright">Политика конфиденциальности</a>
            <div class="footer__copyright">Разработка сайта – SEOGRAVITY</div>
            <div class="footer__copyright">© 2025 СЛ Клиника. Все права защищены</div>
          </div>
        </div>
        <div class="footer__column footer__column--nav">
          <div class="footer__column-title">О нас</div>
          <ul class="footer__column-list">
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">О компании</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Портфолио</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Отзывы</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Цены</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Изделия из металла</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Статьи</a>
            </li>
          </ul>
        </div>
        <div class="footer__column footer__column--nav">
          <div class="footer__column-title">Услуги</div>
          <ul class="footer__column-list">
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Лазерная резка</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Гибочные работы</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Сверление металла</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Сварочные работы</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Порошковая покраска</a>
            </li>
            <li class="footer__column-item">
              <a href="/" class="footer__column-link">Полировка</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__column-title">Контакты</div>
          <ul class="footer__info-list">
            <li class="footer__info">
              <div class="footer__info-main">г. Москва, 2-й Южнопортовый проезд, д.26А, стр.1, офис 106</div>
              <a href="/" class="footer__info-sub">Как добраться?</a>
            </li>
            <li class="footer__info">
              <div class="footer__info-main">+7 (495) 208-06-83</div>
              <div class="footer__info-sub">Пн - Пт с 10:00 - 18:00</div>
            </li>
            <li class="footer__info">
              <div class="footer__info-main">info@lazermetal.ru</div>
              <a href="mailto:info@lazermetal.ru" class="footer__info-sub">Написать нам</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__copyright-wrapper footer__copyright-wrapper--mobile">
            <a href="/" class="footer__copyright">Политика конфиденциальности</a>
            <div class="footer__copyright">Разработка сайта – SEOGRAVITY</div>
            <div class="footer__copyright">© 2025 СЛ Клиника. Все права защищены</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
