<div class="header header--sticky-mobile">
  <div class="header__outer">
    <div class="header__wrapper container">
      {{> Logo className="header__logo"}}
      <div class="header__info">
        <div class="header__info-main">+7 (495) 208-06-83</div>
        <div class="header__info-sub">Пн - Пт с 10:00 - 18:00</div>
      </div>
      <div class="header__info">
        <div class="header__info-main">info@lazermetal.ru</div>
        <a href="/" class="header__info-sub">Написать нам</a>
      </div>
      <div class="header__info">
        <div class="header__info-main">г. Москва, 2-й Южнопортовый проезд, д.26А, стр.1, офис 106</div>
        <a href="/" class="header__info-sub">Как добраться?</a>
      </div>
      {{> Social className="header__social" isBlack=true}}
      <a href="#popup-request" data-fancybox class="header__btn gradient-button">Связаться с нами</a>
      <div class="header__burger">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H26" stroke="white" stroke-width="2.66667" stroke-linecap="round" />
          <path d="M6 16H26" stroke="white" stroke-width="2.66667" stroke-linecap="round" />
          <path d="M6 24H26" stroke="white" stroke-width="2.66667" stroke-linecap="round" />
        </svg>
      </div>
    </div>
  </div>
</div>
