<div class="menu menu--sticky">
  <div class="menu__outer">
    <div class="menu__wrapper container">
      <nav class="menu__nav">
        <ul class="menu__list">
          <li class="menu__item menu__item--services">
            <div class="menu__link">
              <img src="/images/menuGradient.svg" alt="" class="menu__icon" />
              <span class="menu__link-inner">Услуги</span>
            </div>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">О компании</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Портфолио</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Отзывы</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Цены</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Изделия из металла</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Статьи</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Контакты</a>
          </li>
          <li class="menu__item menu__item--shop">
            <a href="" class="menu__link">
              <img src="/images/basket.svg" alt="" class="menu__icon-basket" />
              <span class="menu__link-inner">Интернет-магазин</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
