<div class="portfolio-page">
  <div class="portfolio-page__wrapper">
    <div class="portfolio-page__list">
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio1.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Металлические декоративные элементы для витрины</div>
        <div class="portfolio__slide-text">
          Изготовили комплект металлоконструкций для оформления витрины: рамки, панели и декоративные элементы по чертежам заказчика. Все детали выполнены с
          высокой точностью, покрашены и подготовлены к монтажу. Работа выполнена в срок, с полной сборкой и подгонкой по размерам.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio2.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Корпуса и элементы для систем видеонаблюдения</div>
        <div class="portfolio__slide-text">
          Производство нестандартных металлических платформ и защитных корпусов под камеры видеонаблюдения. Изготовление включало резку, гибку и финальную
          обработку поверхности. Точные размеры и аккуратная геометрия обеспечили совместимость с оборудованием заказчика.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio3.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Металлические декоративные элементы для витрины</div>
        <div class="portfolio__slide-text">
          Изготовили комплект металлоконструкций для оформления витрины: рамки, панели и декоративные элементы по чертежам заказчика. Все детали выполнены с
          высокой точностью, покрашены и подготовлены к монтажу. Работа выполнена в срок, с полной сборкой и подгонкой по размерам.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio4.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Корпуса и элементы для систем видеонаблюдения</div>
        <div class="portfolio__slide-text">
          Производство нестандартных металлических платформ и защитных корпусов под камеры видеонаблюдения. Изготовление включало резку, гибку и финальную
          обработку поверхности. Точные размеры и аккуратная геометрия обеспечили совместимость с оборудованием заказчика.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio5.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Металлические декоративные элементы для витрины</div>
        <div class="portfolio__slide-text">
          Изготовили комплект металлоконструкций для оформления витрины: рамки, панели и декоративные элементы по чертежам заказчика. Все детали выполнены с
          высокой точностью, покрашены и подготовлены к монтажу. Работа выполнена в срок, с полной сборкой и подгонкой по размерам.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio6.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Корпуса и элементы для систем видеонаблюдения</div>
        <div class="portfolio__slide-text">
          Производство нестандартных металлических платформ и защитных корпусов под камеры видеонаблюдения. Изготовление включало резку, гибку и финальную
          обработку поверхности. Точные размеры и аккуратная геометрия обеспечили совместимость с оборудованием заказчика.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio7.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Металлические декоративные элементы для витрины</div>
        <div class="portfolio__slide-text">
          Изготовили комплект металлоконструкций для оформления витрины: рамки, панели и декоративные элементы по чертежам заказчика. Все детали выполнены с
          высокой точностью, покрашены и подготовлены к монтажу. Работа выполнена в срок, с полной сборкой и подгонкой по размерам.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
      <div class="portfolio-page__item portfolio">
        <div class="portfolio__img-wrapper"><img src="/images/portfolio8.png" alt="" class="portfolio__img" /></div>
        <div class="portfolio__slide-title">Корпуса и элементы для систем видеонаблюдения</div>
        <div class="portfolio__slide-text">
          Производство нестандартных металлических платформ и защитных корпусов под камеры видеонаблюдения. Изготовление включало резку, гибку и финальную
          обработку поверхности. Точные размеры и аккуратная геометрия обеспечили совместимость с оборудованием заказчика.
        </div>
        <a href="" class="portfolio__more">Подробнее</a>
      </div>
    </div>
  </div>
</div>
