<div class="production-page">
  <div class="production-page__wrapper">
    <div class="production-page__list">
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Корзины для кондиционера</div>
            <div class="production__price">от 4000 ₽</div>
            <div class="production__text">
              Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
              внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
              среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
              демократичным ценам.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Сварочные столы</div>
            <div class="production__price">от 16 000 ₽</div>
            <div class="production__text">
              Сварочные столы – это неотъемлемый элемент оборудования в производстве, обеспечивающий удобные и эффективные условия проведения сварочных работ.
              Они играют ключевую роль в обеспечении стабильности и точности процесса сварки, а также гарантируют безопасность оператора. Сварочный стол по
              доступной цене толщиной 10 мм от производителя вполне реально сегодня приобрести в Москве.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Металлические корпуса</div>
            <div class="production__price">от 1 500 ₽</div>
            <div class="production__text">
              Корпус из металла представлен в виде заготовки, согнутой под прямым углом, которая состоит из трехмерных узлов с профильными пазами, внутренними
              перегородками, внутренним и внешним крепежом, разнообразными отверстиями и другими конструкционными элементами
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Электрощиты</div>
            <div class="production__price">от 8 000 ₽</div>
            <div class="production__text">
              Оборудование для электрощитовой — основа узла управления электрической сетью дома, коттеджа, квартиры, офиса или магазина. От качества
              изготовления электрощитов зависит безопасность пользования электросетью и стабильность энергоснабжения.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Корзины для кондиционера</div>
            <div class="production__price">от 4000 ₽</div>
            <div class="production__text">
              Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
              внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
              среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
              демократичным ценам.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Сварочные столы</div>
            <div class="production__price">от 16 000 ₽</div>
            <div class="production__text">
              Сварочные столы – это неотъемлемый элемент оборудования в производстве, обеспечивающий удобные и эффективные условия проведения сварочных работ.
              Они играют ключевую роль в обеспечении стабильности и точности процесса сварки, а также гарантируют безопасность оператора. Сварочный стол по
              доступной цене толщиной 10 мм от производителя вполне реально сегодня приобрести в Москве.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Металлические корпуса</div>
            <div class="production__price">от 1 500 ₽</div>
            <div class="production__text">
              Корпус из металла представлен в виде заготовки, согнутой под прямым углом, которая состоит из трехмерных узлов с профильными пазами, внутренними
              перегородками, внутренним и внешним крепежом, разнообразными отверстиями и другими конструкционными элементами
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Электрощиты</div>
            <div class="production__price">от 8 000 ₽</div>
            <div class="production__text">
              Оборудование для электрощитовой — основа узла управления электрической сетью дома, коттеджа, квартиры, офиса или магазина. От качества
              изготовления электрощитов зависит безопасность пользования электросетью и стабильность энергоснабжения.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Корзины для кондиционера</div>
            <div class="production__price">от 4000 ₽</div>
            <div class="production__text">
              Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
              внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
              среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
              демократичным ценам.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Сварочные столы</div>
            <div class="production__price">от 16 000 ₽</div>
            <div class="production__text">
              Сварочные столы – это неотъемлемый элемент оборудования в производстве, обеспечивающий удобные и эффективные условия проведения сварочных работ.
              Они играют ключевую роль в обеспечении стабильности и точности процесса сварки, а также гарантируют безопасность оператора. Сварочный стол по
              доступной цене толщиной 10 мм от производителя вполне реально сегодня приобрести в Москве.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Металлические корпуса</div>
            <div class="production__price">от 1 500 ₽</div>
            <div class="production__text">
              Корпус из металла представлен в виде заготовки, согнутой под прямым углом, которая состоит из трехмерных узлов с профильными пазами, внутренними
              перегородками, внутренним и внешним крепежом, разнообразными отверстиями и другими конструкционными элементами
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Электрощиты</div>
            <div class="production__price">от 8 000 ₽</div>
            <div class="production__text">
              Оборудование для электрощитовой — основа узла управления электрической сетью дома, коттеджа, квартиры, офиса или магазина. От качества
              изготовления электрощитов зависит безопасность пользования электросетью и стабильность энергоснабжения.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Корзины для кондиционера</div>
            <div class="production__price">от 4000 ₽</div>
            <div class="production__text">
              Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
              внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
              среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
              демократичным ценам.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Сварочные столы</div>
            <div class="production__price">от 16 000 ₽</div>
            <div class="production__text">
              Сварочные столы – это неотъемлемый элемент оборудования в производстве, обеспечивающий удобные и эффективные условия проведения сварочных работ.
              Они играют ключевую роль в обеспечении стабильности и точности процесса сварки, а также гарантируют безопасность оператора. Сварочный стол по
              доступной цене толщиной 10 мм от производителя вполне реально сегодня приобрести в Москве.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Металлические корпуса</div>
            <div class="production__price">от 1 500 ₽</div>
            <div class="production__text">
              Корпус из металла представлен в виде заготовки, согнутой под прямым углом, которая состоит из трехмерных узлов с профильными пазами, внутренними
              перегородками, внутренним и внешним крепежом, разнообразными отверстиями и другими конструкционными элементами
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production-page__item production">
        <div class="production__card-wrapper">
          <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Электрощиты</div>
            <div class="production__price">от 8 000 ₽</div>
            <div class="production__text">
              Оборудование для электрощитовой — основа узла управления электрической сетью дома, коттеджа, квартиры, офиса или магазина. От качества
              изготовления электрощитов зависит безопасность пользования электросетью и стабильность энергоснабжения.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
