<section class="production section">
  <div class="production__wrapper section__wrapper container">
    <h2 class="production__title section__title">Производство изделий из металла</h2>
    <div class="production__slider swiper">
      <div class="swiper-wrapper">
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Корзины для кондиционера</div>
            <div class="production__price">от 4000 ₽</div>
            <div class="production__text">
              Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
              внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
              среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
              демократичным ценам.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Сварочные столы</div>
            <div class="production__price">от 16 000 ₽</div>
            <div class="production__text">
              Сварочные столы – это неотъемлемый элемент оборудования в производстве, обеспечивающий удобные и эффективные условия проведения сварочных работ.
              Они играют ключевую роль в обеспечении стабильности и точности процесса сварки, а также гарантируют безопасность оператора. Сварочный стол по
              доступной цене толщиной 10 мм от производителя вполне реально сегодня приобрести в Москве.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Металлические корпуса</div>
            <div class="production__price">от 1 500 ₽</div>
            <div class="production__text">
              Корпус из металла представлен в виде заготовки, согнутой под прямым углом, которая состоит из трехмерных узлов с профильными пазами, внутренними
              перегородками, внутренним и внешним крепежом, разнообразными отверстиями и другими конструкционными элементами
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Электрощиты</div>
            <div class="production__price">от 8 000 ₽</div>
            <div class="production__text">
              Оборудование для электрощитовой — основа узла управления электрической сетью дома, коттеджа, квартиры, офиса или магазина. От качества
              изготовления электрощитов зависит безопасность пользования электросетью и стабильность энергоснабжения.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Корзины для кондиционера</div>
            <div class="production__price">от 4000 ₽</div>
            <div class="production__text">
              Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
              внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
              среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
              демократичным ценам.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Сварочные столы</div>
            <div class="production__price">от 16 000 ₽</div>
            <div class="production__text">
              Сварочные столы – это неотъемлемый элемент оборудования в производстве, обеспечивающий удобные и эффективные условия проведения сварочных работ.
              Они играют ключевую роль в обеспечении стабильности и точности процесса сварки, а также гарантируют безопасность оператора. Сварочный стол по
              доступной цене толщиной 10 мм от производителя вполне реально сегодня приобрести в Москве.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Металлические корпуса</div>
            <div class="production__price">от 1 500 ₽</div>
            <div class="production__text">
              Корпус из металла представлен в виде заготовки, согнутой под прямым углом, которая состоит из трехмерных узлов с профильными пазами, внутренними
              перегородками, внутренним и внешним крепежом, разнообразными отверстиями и другими конструкционными элементами
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
        <div class="production__slide swiper-slide">
          <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
          <div class="production__slide-body">
            <div class="production__slide-title">Электрощиты</div>
            <div class="production__price">от 8 000 ₽</div>
            <div class="production__text">
              Оборудование для электрощитовой — основа узла управления электрической сетью дома, коттеджа, квартиры, офиса или магазина. От качества
              изготовления электрощитов зависит безопасность пользования электросетью и стабильность энергоснабжения.
            </div>
            <a href="" class="production__more">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="production__slider-footer">
        <a href="/" class="production__more-btn more-btn">Все изделия</a>
        <div class="production__slider-navigation slider-navigation">
          <div class="slider-navigation__wrapper">
            <div class="slider-navigation__button slider-navigation__button--white production__slider-button-prev slider-navigation__button-prev">
              <svg
                class="slider-navigation__arrow slider-navigation__arrow--prev"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="slider-navigation__button slider-navigation__button--white production__slider-button-next slider-navigation__button-next">
              <svg
                class="slider-navigation__arrow slider-navigation__arrow--next"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
