<section class="details">
  <div class="details__wrapper">
    <div class="details__inner">
      <div class="details__section">
        <p>
          Наружный блок кондиционера представляет собой достаточно сложное оборудование с изобилием внешних коммуникаций. Для решения проблемы неэстетичного
          внешнего вида используются специальные короба либо корзины для кондиционера. Также они защищают устройство от негативного воздействия окружающей
          среды, вандализма и не препятствуют правильному функционированию техники. Наша компания изготавливает различные вариации данных конструкций по
          демократичным ценам.
        </p>
        <p>Оптовые цены на корзины от 4000 рублей (с обычной перфорацией), дизайнерская резка рассчитывается дополнительно.</p>
        <p>Кронштейны для крепления кондиционера от 3000 рублей, в зависимости от конфигурации.</p>
      </div>
      <div class="details__section">
        <section class="production">
          <div class="production__wrapper">
            <div class="production__slider swiper details__slider">
              <div class="production__slider-header">
                <div class="production__header-title">Товары:</div>
                <div class="production__slider-navigation slider-navigation">
                  <div class="slider-navigation__wrapper">
                    <div class="slider-navigation__button slider-navigation__button--black production__slider-button-prev slider-navigation__button-prev">
                      <svg
                        class="slider-navigation__arrow slider-navigation__arrow--prev"
                        width="20"
                        height="20"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                    <div class="slider-navigation__button slider-navigation__button--black production__slider-button-next slider-navigation__button-next">
                      <svg
                        class="slider-navigation__arrow slider-navigation__arrow--next"
                        width="20"
                        height="20"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-wrapper">
                <div class="production__slide swiper-slide">
                  <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
                  <div class="production__slide-body">
                    <div class="production__slide-title">Корзины для кондиционера</div>
                    <div class="production__price">от 4000 ₽</div>

                    <a href="" class="production__more">Подробнее</a>
                  </div>
                </div>
                <div class="production__slide swiper-slide">
                  <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
                  <div class="production__slide-body">
                    <div class="production__slide-title">Сварочные столы</div>
                    <div class="production__price">от 16 000 ₽</div>

                    <a href="" class="production__more">Подробнее</a>
                  </div>
                </div>
                <div class="production__slide swiper-slide">
                  <div class="production__img-wrapper"><img src="/images/production3.png" alt="" class="production__img" /></div>
                  <div class="production__slide-body">
                    <div class="production__slide-title">Металлические корпуса</div>
                    <div class="production__price">от 1 500 ₽</div>

                    <a href="" class="production__more">Подробнее</a>
                  </div>
                </div>
                <div class="production__slide swiper-slide">
                  <div class="production__img-wrapper"><img src="/images/production4.png" alt="" class="production__img" /></div>
                  <div class="production__slide-body">
                    <div class="production__slide-title">Электрощиты</div>
                    <div class="production__price">от 8 000 ₽</div>

                    <a href="" class="production__more">Подробнее</a>
                  </div>
                </div>
                <div class="production__slide swiper-slide">
                  <div class="production__img-wrapper"><img src="/images/production1.png" alt="" class="production__img" /></div>
                  <div class="production__slide-body">
                    <div class="production__slide-title">Корзины для кондиционера</div>
                    <div class="production__price">от 4000 ₽</div>

                    <a href="" class="production__more">Подробнее</a>
                  </div>
                </div>
                <div class="production__slide swiper-slide">
                  <div class="production__img-wrapper"><img src="/images/production2.png" alt="" class="production__img" /></div>
                  <div class="production__slide-body">
                    <div class="production__slide-title">Сварочные столы</div>
                    <div class="production__price">от 16 000 ₽</div>

                    <a href="" class="production__more">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="details__section">
        <h2 class="details__title">Корзина для наружного блока кондиционера</h2>
        <p>
          Компания «СиМП» специализируется на изготовлении на заказ наружных декоративных коробов для кондиционеров. У нас можно заказать изделия стандартных и
          нестандартных размеров с любой перфорацией. Благодаря сборно-разборной конструкции корзины, обеспечивается свободный доступ к коммуникациям при
          монтаже, последующем обслуживании.
        </p>
        <h3 class="details__small-title">Цена корзины для кондиционера зависит от нескольких нюансов:</h3>
        <ul class="details__list">
          <li class="details__item">Вид крепления;</li>
          <li class="details__item">Точные размеры;</li>
          <li class="details__item">Вид и сложность лазерной резки;</li>
          <li class="details__item">Особенности сборно-разборной конструкции;</li>
          <li class="details__item">Декор (изготавливается уникальный под заказ, по предложенным заказчиком эскизам, чертежам);</li>
          <li class="details__item">Иные специфические особенности.</li>
        </ul>
        <p>
          Наши специалисты занимаются изготовлением корзин для кондиционеров по эскизам и чертежам клиента, учитывают персональные пожелания к готовой
          продукции, а потому, итоговый ценник может существенно варьировать и рассчитывается в каждом случае индивидуально.
        </p>
      </div>
      <div class="details__section">
        <h2 class="details__title">Корзина для кондиционера на фасаде здания</h2>
        <p>
          При реконструкции большинства старых зданий, а также при возведении новых, широко используются вентилируемые фасады. При установке кондиционера на
          такой фасад дома не обойтись без покупки специальной корзины для внешнего блока. В нашей компании вы можете сделать на заказ уникальную конструкцию,
          либо заказать оптовую партию коробов желаемых размеров и с необходимыми техническими характеристиками.
        </p>
        <h3 class="details__small-title">Среди основных особенностей изготавливаемых нами корзин для кондиционеров на фасаде выделяют:</h3>
        <ul class="details__list">
          <li class="details__item">Легкость монтажа, обслуживания (доступ к технике обеспечивается съемными боковинами);</li>
          <li class="details__item">Отсутствие негативного влияния на работоспособность климатических систем;</li>
          <li class="details__item">Привлекательный внешний вид;</li>
          <li class="details__item">Защита техники от рук вандалов, попадания инородных предметов;</li>
          <li class="details__item">Возможность крепления на вентилируемый фасад и фасад без утепления (используются разные виды кронштейнов).</li>
        </ul>
        <p>
          Наши специалисты занимаются изготовлением корзин для кондиционеров по эскизам и чертежам клиента, учитывают персональные пожелания к готовой
          продукции, а потому, итоговый ценник может существенно варьировать и рассчитывается в каждом случае индивидуально.
        </p>
        <img src="/images/productionDetails1.png" alt="" class="details__img" />
      </div>
      <div class="details__section">
        <h2 class="details__title">Наше производство по изготовлению корзин</h2>
        <p>
          Компания «СиМП» - опытный и надежный производитель металлоконструкций различной сложности. Собственное производство корзин для наружных элементов
          кондиционеров позволяет регулировать цену, предлагая заказчикам наиболее выгодные варианты.
        </p>
        <h3 class="details__small-title">Основными преимуществами изготавливаемых нами конструкций являются:</h3>
        <ul class="details__list">
          <li class="details__item">Эстетичный внешний вид;</li>
          <li class="details__item">Соответствие заявленным эксплуатационным, техническим характеристикам;</li>
          <li class="details__item">Долговечность (дополнительная порошковая покраска предотвращает образование ржавчины);</li>
          <li class="details__item">Удобство крепления на любые виды оснований;</li>
          <li class="details__item">Возможность установки целого блока (горизонтального либо вертикального) из нескольких корзин;</li>
          <li class="details__item">
            Способность выдерживать внешний блок климатического оборудования весом до 120 кг (в зависимости от выбранной модели короба).
          </li>
        </ul>
        <p>
          При производстве корзин для внешних блоков кондиционеров мы используем качественные материалы, комплектующие, а потому готовые изделия служат без
          нарекания достаточно долгий срок.
        </p>
      </div>
      <div class="details__section">
        <h2 class="details__title">Галерея</h2>
        <div class="details__slider details-slider swiper">
          <div class="details-slider__wrapper">
            <div class="details-slider__arrow details-slider__arrow-prev">
              <svg
                class="details-slider__arrow-svg details-slider__arrow-svg--prev"
                width="20"
                height="20"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="details-slider__arrow details-slider__arrow-next">
              <svg class="details-slider__arrow-svg" width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.1919 7.05826L9.81687 2.68326C9.699 2.56941 9.54112 2.50641 9.37725 2.50784C9.21338 2.50926 9.05662 2.57499 8.94074 2.69087C8.82486 2.80675 8.75913 2.96351 8.7577 3.12738C8.75628 3.29125 8.81928 3.44913 8.93313 3.56701L12.2413 6.87513H1.25C1.08424 6.87513 0.925268 6.94098 0.808058 7.05819C0.690848 7.1754 0.625 7.33437 0.625 7.50013C0.625 7.66589 0.690848 7.82486 0.808058 7.94207C0.925268 8.05928 1.08424 8.12513 1.25 8.12513H12.2413L8.93313 11.4333C8.87343 11.4909 8.82582 11.5599 8.79306 11.6361C8.76031 11.7124 8.74306 11.7944 8.74234 11.8774C8.74162 11.9604 8.75744 12.0427 8.78886 12.1195C8.82029 12.1963 8.8667 12.2661 8.92538 12.3248C8.98406 12.3834 9.05384 12.4298 9.13065 12.4613C9.20746 12.4927 9.28976 12.5085 9.37275 12.5078C9.45574 12.5071 9.53775 12.4898 9.614 12.4571C9.69026 12.4243 9.75922 12.3767 9.81687 12.317L14.1919 7.94201C14.309 7.8248 14.3749 7.66586 14.3749 7.50013C14.3749 7.3344 14.309 7.17546 14.1919 7.05826Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="details-slider__slide swiper-slide">
                <div class="details-slider__img-wrapper"><img src="/images/productionDetails2.png" alt="" class="details-slider__img" /></div>
              </div>
              <div class="details-slider__slide swiper-slide">
                <div class="details-slider__img-wrapper"><img src="/images/productionDetails1.png" alt="" class="details-slider__img" /></div>
              </div>
              <div class="details-slider__slide swiper-slide">
                <div class="details-slider__img-wrapper"><img src="/images/productionDetails2.png" alt="" class="details-slider__img" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details__inner">
      <div class="details__section">
        <h2 class="details__title">Вопросы и ответы</h2>
        <div class="details__qustions questions">
          <div class="questions__inner">
            <ul class="questions__list">
              <li class="questions__item questions__item--black" data-accordion>
                <div class="questions__header" data-accordion-trigger>
                  <div class="questions__item-title">Что важнее для металлообработки - сечение или разрез?</div>
                  <div class="questions__icon"></div>
                </div>
                <div class="questions__content" data-accordion-content>
                  <div class="questions__answer">
                    Нельзя выбрать одно. Сечение быстрее даёт форму и толщины в нужном месте. Разрез позволяет понять внутреннюю геометрию целиком. В хорошей
                    документации они дополняют друг друга.
                  </div>
                </div>
              </li>
              <li class="questions__item questions__item--black" data-accordion>
                <div class="questions__header" data-accordion-trigger>
                  <div class="questions__item-title">Можно ли заменить разрез несколькими сечениями?</div>
                  <div class="questions__icon"></div>
                </div>
                <div class="questions__content" data-accordion-content>
                  <div class="questions__answer">
                    Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза,
                    материал, толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления. Вы
                    можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза, материал,
                    толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления.
                  </div>
                </div>
              </li>
              <li class="questions__item questions__item--black" data-accordion>
                <div class="questions__header" data-accordion-trigger>
                  <div class="questions__item-title">Почему на некоторых чертежах сечение ставят прямо на виде?</div>
                  <div class="questions__icon"></div>
                </div>
                <div class="questions__content" data-accordion-content>
                  <div class="questions__answer">Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту.</div>
                </div>
              </li>
              <li class="questions__item questions__item--black" data-accordion>
                <div class="questions__header" data-accordion-trigger>
                  <div class="questions__item-title">Сечение и разрез - это только про черчение, или это важно для расчётов?</div>
                  <div class="questions__icon"></div>
                </div>
                <div class="questions__content" data-accordion-content>
                  <div class="questions__answer">
                    Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза,
                    материал, толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления.
                  </div>
                </div>
              </li>
              <li class="questions__item questions__item--black" data-accordion>
                <div class="questions__header" data-accordion-trigger>
                  <div class="questions__item-title">Если деталь сварная и сложная, что лучше просить у конструктора?</div>
                  <div class="questions__icon"></div>
                </div>
                <div class="questions__content" data-accordion-content>
                  <div class="questions__answer">
                    Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза,
                    материал, толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
