<section class="questions-section section">
  <div class="questions-section__wrapper section__wrapper container">
    <h2 class="questions-section__title section__title">Часто задаваемые вопросы</h2>
    <div class="questions-section__subtitle section__subtitle">Краткие ответы на самые частые вопросы</div>
    <div class="questions-section__inner">
      <div class="questions">
        <ul class="questions-section__list questions__list">
          <li class="questions__item" data-accordion>
            <div class="questions__header" data-accordion-trigger>
              <div class="questions__item-title">Как рассчитать стоимость лазерной резки по моему чертежу?</div>
              <div class="questions__icon"></div>
            </div>
            <div class="questions__content" data-accordion-content>
              <div class="questions__answer">
                Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза, материал,
                толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления.
              </div>
            </div>
          </li>
          <li class="questions__item" data-accordion>
            <div class="questions__header" data-accordion-trigger>
              <div class="questions__item-title">Какая минимальная партия для производства?</div>
              <div class="questions__icon"></div>
            </div>
            <div class="questions__content" data-accordion-content>
              <div class="questions__answer">
                Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза, материал,
                толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления. Вы можете
                загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза, материал, толщину и
                подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления.
              </div>
            </div>
          </li>
          <li class="questions__item" data-accordion>
            <div class="questions__header" data-accordion-trigger>
              <div class="questions__item-title">С какими форматами чертежей вы работаете?</div>
              <div class="questions__icon"></div>
            </div>
            <div class="questions__content" data-accordion-content>
              <div class="questions__answer">Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту.</div>
            </div>
          </li>
          <li class="questions__item" data-accordion>
            <div class="questions__header" data-accordion-trigger>
              <div class="questions__item-title">Можно ли изготовить деталь по образцу, если у меня нет чертежа?</div>
              <div class="questions__icon"></div>
            </div>
            <div class="questions__content" data-accordion-content>
              <div class="questions__answer">
                Вы можете загрузить чертёж через онлайн-калькулятор на сайте или отправить нам файл на почту. Мы автоматически просчитаем длину реза, материал,
                толщину и подготовим предварительную цену. После уточнения деталей менеджер подтвердит итоговую стоимость и срок изготовления.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
