<div class="request">
  <div class="request__wrapper container">
    <div class="request__inner {{#if isGrey}} request__inner--grey {{/if}}">
      <div class="request__info">
        <div class="request__title">Оставить заявку</div>
        <div class="request__text">
          Оставьте заявку на нашем сайте <br />
          или позвоните по телефону +7 (495) 127-38-51
        </div>
      </div>
      <div class="request__buttons">
        <a href="#popup-request" data-fancybox class="request__button gradient-button">Связаться с нами</a>
        <a href="#popup-calculation" data-fancybox class="request__button calculate-button">Рассчитать стоимость</a>
      </div>
    </div>
  </div>
</div>
