<div class="reviews-page">
  <div class="reviews-page__wrapper">
    <div class="reviews-page__list">
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Илья Сафронов</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review1.png" alt="" class="reviews__slide-img" />
            <img src="/images/review2.png" alt="" class="reviews__slide-img" />
            <img src="/images/review3.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Все сделали точно по чертежу</div>
          <div class="reviews__slide-text">
            Заказывали резку и гибку небольших партий деталей. Все элементы пришли строго в размерах, без заусенцев, поверхность чистая. Особенно порадовали
            сроки — уложились быстрее, чем обещали. Удобно, что можно сразу загрузить файл и получить цену.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Мария Кондратова</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Порошковая покраска</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review4.png" alt="" class="reviews__slide-img" />
            <img src="/images/review5.png" alt="" class="reviews__slide-img" />
            <img src="/images/review6.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Качественно и аккуратно</div>
          <div class="reviews__slide-text">
            Нужно было изготовить декоративные панели из нержавейки. Подсказали оптимальную толщину, помогли скорректировать чертёж. Покраска ровная, нигде не
            пропусков. Всё упаковано так, что даже при доставке ничего не повредилось.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Алексей Гришин</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Сварочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review7.png" alt="" class="reviews__slide-img" />
            <img src="/images/review8.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Отличное производство — рекомендую</div>
          <div class="reviews__slide-text">
            Делали для нас сложные элементы корпуса с резкой, сваркой и последующей зачисткой. Работу приняли без замечаний. Отдельно хочу отметить менеджера —
            всегда на связи, быстро готовит КП и помогает решить нестандартные задачи.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Илья Сафронов</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review1.png" alt="" class="reviews__slide-img" />
            <img src="/images/review2.png" alt="" class="reviews__slide-img" />
            <img src="/images/review3.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Все сделали точно по чертежу</div>
          <div class="reviews__slide-text">
            Заказывали резку и гибку небольших партий деталей. Все элементы пришли строго в размерах, без заусенцев, поверхность чистая. Особенно порадовали
            сроки — уложились быстрее, чем обещали. Удобно, что можно сразу загрузить файл и получить цену.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Мария Кондратова</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Порошковая покраска</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review4.png" alt="" class="reviews__slide-img" />
            <img src="/images/review5.png" alt="" class="reviews__slide-img" />
            <img src="/images/review6.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Качественно и аккуратно</div>
          <div class="reviews__slide-text">
            Нужно было изготовить декоративные панели из нержавейки. Подсказали оптимальную толщину, помогли скорректировать чертёж. Покраска ровная, нигде не
            пропусков. Всё упаковано так, что даже при доставке ничего не повредилось.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Алексей Гришин</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Сварочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review7.png" alt="" class="reviews__slide-img" />
            <img src="/images/review8.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Отличное производство — рекомендую</div>
          <div class="reviews__slide-text">
            Делали для нас сложные элементы корпуса с резкой, сваркой и последующей зачисткой. Работу приняли без замечаний. Отдельно хочу отметить менеджера —
            всегда на связи, быстро готовит КП и помогает решить нестандартные задачи.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Илья Сафронов</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review1.png" alt="" class="reviews__slide-img" />
            <img src="/images/review2.png" alt="" class="reviews__slide-img" />
            <img src="/images/review3.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Все сделали точно по чертежу</div>
          <div class="reviews__slide-text">
            Заказывали резку и гибку небольших партий деталей. Все элементы пришли строго в размерах, без заусенцев, поверхность чистая. Особенно порадовали
            сроки — уложились быстрее, чем обещали. Удобно, что можно сразу загрузить файл и получить цену.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Мария Кондратова</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Порошковая покраска</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review4.png" alt="" class="reviews__slide-img" />
            <img src="/images/review5.png" alt="" class="reviews__slide-img" />
            <img src="/images/review6.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Качественно и аккуратно</div>
          <div class="reviews__slide-text">
            Нужно было изготовить декоративные панели из нержавейки. Подсказали оптимальную толщину, помогли скорректировать чертёж. Покраска ровная, нигде не
            пропусков. Всё упаковано так, что даже при доставке ничего не повредилось.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Алексей Гришин</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Сварочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review7.png" alt="" class="reviews__slide-img" />
            <img src="/images/review8.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Отличное производство — рекомендую</div>
          <div class="reviews__slide-text">
            Делали для нас сложные элементы корпуса с резкой, сваркой и последующей зачисткой. Работу приняли без замечаний. Отдельно хочу отметить менеджера —
            всегда на связи, быстро готовит КП и помогает решить нестандартные задачи.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Илья Сафронов</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная</li>
            <li class="reviews__services-item">Гибочные работы</li>
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Гибочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review1.png" alt="" class="reviews__slide-img" />
            <img src="/images/review2.png" alt="" class="reviews__slide-img" />
            <img src="/images/review3.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Все сделали точно по чертежу</div>
          <div class="reviews__slide-text">
            Заказывали резку и гибку небольших партий деталей. Все элементы пришли строго в размерах, без заусенцев, поверхность чистая. Особенно порадовали
            сроки — уложились быстрее, чем обещали. Удобно, что можно сразу загрузить файл и получить цену.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Мария Кондратова</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Порошковая покраска</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review4.png" alt="" class="reviews__slide-img" />
            <img src="/images/review5.png" alt="" class="reviews__slide-img" />
            <img src="/images/review6.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Качественно и аккуратно</div>
          <div class="reviews__slide-text">
            Нужно было изготовить декоративные панели из нержавейки. Подсказали оптимальную толщину, помогли скорректировать чертёж. Покраска ровная, нигде не
            пропусков. Всё упаковано так, что даже при доставке ничего не повредилось.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
      <div class="reviews-page__item reviews">
        <div class="reviews__card-wrapper">
          <div class="reviews__slide-name">Алексей Гришин</div>
          <div class="reviews__slide-stars">
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
            <img src="/images/star-filled.svg" alt="" class="reviews__slide-star" />
          </div>
          <div class="reviews__services-title">Оказанные услуги:</div>
          <ul class="reviews__sevices-list">
            <li class="reviews__services-item">Лазерная резка</li>
            <li class="reviews__services-item">Сварочные работы</li>
          </ul>
          <div class="reviews__slide-images">
            <img src="/images/review7.png" alt="" class="reviews__slide-img" />
            <img src="/images/review8.png" alt="" class="reviews__slide-img" />
          </div>
          <div class="reviews__slide-title">Отличное производство — рекомендую</div>
          <div class="reviews__slide-text">
            Делали для нас сложные элементы корпуса с резкой, сваркой и последующей зачисткой. Работу приняли без замечаний. Отдельно хочу отметить менеджера —
            всегда на связи, быстро готовит КП и помогает решить нестандартные задачи.
          </div>
          <a href="" class="reviews__more">Читать далее...</a>
        </div>
      </div>
    </div>
  </div>
</div>
