<section class="services section">
  <div class="services__wrapper section__wrapper container">
    <h2 class="services__title section__title">Наши услуги</h2>
    <div class="services__subtitle section__subtitle">Услуги которые мы оказываем</div>
    <div class="services__cards">
      <div class="services__card">
        <img src="/images/service1.svg" alt="" class="services__icon" />
        <a href="/" class="services__link-title">Лазерная резка</a>
        <ul class="services__list">
          <li class="services__item">
            <a href="/" class="services__link">Лазерная резка нержавейки</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Резка металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Лазерная резка труб</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Резка профильной трубы</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Резка лазером</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Лазерная гравировка</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Лазерная резка алюминия</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Лазерная резка стали</a>
          </li>
        </ul>
        <a href="/" class="services__link-more">Показать все</a>
      </div>
      <div class="services__card">
        <img src="/images/service2.svg" alt="" class="services__icon" />
        <a href="/" class="services__link-title">Гибочные работы</a>
        <ul class="services__list">
          <li class="services__item">
            <a href="/" class="services__link">Гибка металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка листового металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка и резка листового металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка алюминия</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка нержавеющей стали</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка полосового металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка тонколистового металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Гибка металла на ЧПУ</a>
          </li>
        </ul>
        <a href="/" class="services__link-more">Показать все</a>
      </div>
      <div class="services__card">
        <img src="/images/service3.svg" alt="" class="services__icon" />
        <a href="/" class="services__link-title">Сварочные работы</a>
        <ul class="services__list">
          <li class="services__item">
            <a href="/" class="services__link">Полуавтоматическая сварка</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Аргонная сварка</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Сварка алюминия</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Сварка нержавейки</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Сварка закладных деталей</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Лазерная сварка</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Сварка конструкционных сталей</a>
          </li>
        </ul>
        <a href="/" class="services__link-more">Показать все</a>
      </div>
      <div class="services__card">
        <img src="/images/service4.svg" alt="" class="services__icon" />
        <a href="/" class="services__link-title">Порошковая покраска</a>
        <ul class="services__list">
          <li class="services__item">
            <a href="/" class="services__link">Порошковая покраска металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Порошковая покраска металлических изделий</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Порошковая покраска нержавейки</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Порошковая покраска профлиста</a>
          </li>
        </ul>
        <a href="/" class="services__link-more">Показать все</a>
      </div>
      <div class="services__card">
        <img src="/images/service5.svg" alt="" class="services__icon" />
        <a href="/" class="services__link-title">Сверление</a>
        <ul class="services__list">
          <li class="services__item">
            <a href="/" class="services__link">Сверление металла</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Сверление отверстий в металле</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Зенкование отверстий</a>
          </li>
          <li class="services__item">
            <a href="/" class="services__link">Сверление цветных металлов</a>
          </li>
        </ul>
        <a href="/" class="services__link-more">Показать все</a>
      </div>
      <div class="services__card">
        <img src="/images/service6.svg" alt="" class="services__icon" />
        <a href="/" class="services__link-title">Полировка</a>
        <ul class="services__list">
          <li class="services__item">
            <a href="/" class="services__link">Полировка металла</a>
          </li>
        </ul>
        <a href="/" class="services__link-more">Показать все</a>
      </div>
    </div>
    <a href="/" class="services__more-btn more-btn">Все услуги</a>
  </div>
</section>
