<section class="stages section">
  <div class="stages__wrapper section__wrapper container">
    <h2 class="stages__title section__title">Этапы работ</h2>
    <div class="stages__subtitle section__subtitle">В общем случае обработка листового металла и других заготовок в нашей компании идет следующим образом:</div>
    <div class="stages__cards">
      <div class="stages__card">
        <div class="stages__card-header">
          <div class="stages__card-number">1</div>
          <img src="/images/stage1.svg" alt="" class="stages__card-img" />
        </div>
        <div class="stages__card-title">Согласование заказа</div>
        <div class="stages__card-text">Уточняем параметры изделия, проверяем чертёж, определяем материал и объём работ</div>
      </div>
      <div class="stages__card">
        <div class="stages__card-header">
          <div class="stages__card-number">2</div>
          <img src="/images/stage2.svg" alt="" class="stages__card-img" />
        </div>
        <div class="stages__card-title">Расчёт стоимости</div>
        <div class="stages__card-text">Выполняем точный расчёт цены и сроков, согласовываем условия с клиентом</div>
      </div>
      <div class="stages__card">
        <div class="stages__card-header">
          <div class="stages__card-number">3</div>
          <img src="/images/stage3.svg" alt="" class="stages__card-img" />
        </div>
        <div class="stages__card-title">Оплата</div>
        <div class="stages__card-text">Клиент оплачивает заказ. Постоянным партнёрам доступны специальные условия</div>
      </div>
      <div class="stages__card">
        <div class="stages__card-header">
          <div class="stages__card-number">4</div>
          <img src="/images/stage4.svg" alt="" class="stages__card-img" />
        </div>
        <div class="stages__card-title">Производство</div>
        <div class="stages__card-text">Изготавливаем детали: резка, гибка, сварка и другие операции. Проводим контроль качества.</div>
      </div>
      <div class="stages__card">
        <div class="stages__card-header">
          <div class="stages__card-number">5</div>
          <img src="/images/stage5.svg" alt="" class="stages__card-img" />
        </div>
        <div class="stages__card-title">Передача заказа</div>
        <div class="stages__card-text">Передаём готовые изделия: самовывоз или доставка транспортной компанией</div>
      </div>
    </div>
  </div>
</section>
