<section class="video-section section">
  <div class="video-section__wrapper section__wrapper container">
    <h2 class="video-section__title section__title">Металлообработка на заказ в Москве</h2>
    <div class="video-section__body">
      <div class="video-section__info">
        <h3 class="video-section__info-title">ООО "СиМП"</h3>
        <div class="video-section__info-text">
          <p>
            Если вам требуется металлообработка на заказ в Москве, свяжитесь с менеджерами ООО «СиМП» любым удобным способом. Мы примем техническое задание,
            изучим чертёж или поможем подготовить его при необходимости.
          </p>
          <p>
            После этого мы рассчитаем стоимость работ с учётом материала, толщины, трудоёмкости и объёма партии, согласуем сроки изготовления и условия
            сотрудничества.
          </p>
          <p>
            Когда стоимость и сроки утверждены, мы оформляем договор и запускаем заказ в производство. Готовые изделия вы можете получить самовывозом или
            оформить доставку транспортной компанией.
          </p>
          <p>
            Когда стоимость и сроки утверждены, мы оформляем договор и запускаем заказ в производство. Готовые изделия вы можете получить самовывозом или
            оформить доставку транспортной компанией.
          </p>
        </div>
        <a href="/" class="video-section__more-btn more-btn">Подробнее</a>
      </div>
      <div class="video-section__video">
        <iframe
          width="720"
          height="405"
          src="https://rutube.ru/play/embed/c6cc4d620b1d4338901770a44b3e82f4/"
          style="border: none"
          allow="clipboard-write; autoplay"
          webkitAllowFullScreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
