<div class="mega-menu-mobile">
  <div class="mega-menu-mobile__outer">
    <div class="mega-menu-mobile__wrapper container">
      <ul class="mega-menu-mobile__list">
        <li class="mega-menu-mobile__item mega-menu-mobile__item--accordion menu-accordion">
          <div class="menu-accordion__wrapper" data-accordion>
            <div class="menu-accordion__header" data-accordion-trigger>
              <div class="menu-accordion__title">Услуги</div>
              <div class="menu-accordion__icon-wrapper">
                <img src="/images/accordionArrow.svg" alt="" class="menu-accordion__icon" />
              </div>
            </div>
            <div class="menu-accordion__content" data-accordion-content>
              <ul class="menu-accordion__list">
                <li class="menu-accordion__item">
                  <a href="/" class="menu-accordion__link">Лазерная резка</a>
                </li>
                <li class="menu-accordion__item">
                  <a href="/" class="menu-accordion__link">Гибочные работы</a>
                </li>
                <li class="menu-accordion__item">
                  <a href="/" class="menu-accordion__link">Сварочные работы</a>
                </li>
                <li class="menu-accordion__item">
                  <a href="/" class="menu-accordion__link">Порошковая покраска</a>
                </li>
                <li class="menu-accordion__item">
                  <a href="/" class="menu-accordion__link">Сверление</a>
                </li>
                <li class="menu-accordion__item">
                  <a href="/" class="menu-accordion__link">Полировка</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">О компании</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Портфолио</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Отзывы</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Цены</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Изделия из металла</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Статьи</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Контакты</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/arrow.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
        <li class="mega-menu-mobile__item">
          <a href="/" class="mega-menu-mobile__link">
            <div class="mega-menu-mobile__link-text">Интернет-магазин</div>
            <div class="mega-menu-mobile__icon-wrapper">
              <img src="/images/basket.svg" alt="" class="mega-menu-mobile__icon" />
            </div>
          </a>
        </li>
      </ul>
      <a href="#popup-calculation" data-fancybox class="mega-menu-mobile__btn gradient-button">Связаться с нами</a>
    </div>
  </div>
</div>
