<div class="mega-menu">
  <div class="mega-menu__outer">
    <div class="mega-menu__wrapper container">
      <div class="mega-menu__cards">
        <div class="mega-menu__card">
          <img src="/images/service1.svg" alt="" class="mega-menu__icon" />
          <ul class="mega-menu__list">
            <li class="mega-menu__item mega-menu__item--title">
              <a href="/" class="mega-menu__link mega-menu__link--title">Лазерная резка</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Лазерная резка нержавейки</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Резка металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Лазерная резка труб</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Резка профильной трубы</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Резка лазером</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Лазерная гравировка</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Лазерная резка алюминия</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Лазерная резка стали</a>
            </li>
            <li class="mega-menu__item mega-menu__item--show-more">
              <a href="/" class="mega-menu__link mega-menu__link--show-more">Показать все</a>
            </li>
          </ul>
        </div>
        <div class="mega-menu__card">
          <img src="/images/service2.svg" alt="" class="mega-menu__icon" />
          <ul class="mega-menu__list">
            <li class="mega-menu__item mega-menu__item--title">
              <a href="/" class="mega-menu__link mega-menu__link--title">Гибочные работы</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка листового металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка и резка листового металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка алюминия</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка нержавеющей стали</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка полосового металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка тонколистового металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Гибка металла на ЧПУ</a>
            </li>
            <li class="mega-menu__item mega-menu__item--show-more">
              <a href="/" class="mega-menu__link mega-menu__link--show-more">Показать все</a>
            </li>
          </ul>
        </div>
        <div class="mega-menu__card">
          <img src="/images/service3.svg" alt="" class="mega-menu__icon" />
          <ul class="mega-menu__list">
            <li class="mega-menu__item mega-menu__item--title">
              <a href="/" class="mega-menu__link mega-menu__link--title">Сварочные работы</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Полуавтоматическая сварка</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Аргонная сварка</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сварка алюминия</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сварка нержавейки</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сварка закладных деталей</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Лазерная сварка</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сварка конструкционных сталей</a>
            </li>
            <li class="mega-menu__item mega-menu__item--show-more">
              <a href="/" class="mega-menu__link mega-menu__link--show-more">Показать все</a>
            </li>
          </ul>
        </div>
        <div class="mega-menu__card">
          <img src="/images/service4.svg" alt="" class="mega-menu__icon" />
          <ul class="mega-menu__list">
            <li class="mega-menu__item mega-menu__item--title">
              <a href="/" class="mega-menu__link mega-menu__link--title">Порошковая покраска</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Порошковая покраска металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Порошковая покраска металлических изделий</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Порошковая покраска нержавейки</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Порошковая покраска профлиста</a>
            </li>
            <li class="mega-menu__item mega-menu__item--show-more">
              <a href="/" class="mega-menu__link mega-menu__link--show-more">Показать все</a>
            </li>
          </ul>
        </div>
        <div class="mega-menu__card">
          <img src="/images/service5.svg" alt="" class="mega-menu__icon" />
          <ul class="mega-menu__list">
            <li class="mega-menu__item mega-menu__item--title">
              <a href="/" class="mega-menu__link mega-menu__link--title">Сверление</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сверление металла</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сверление отверстий в металле</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Зенкование отверстий</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Сверление цветных металлов</a>
            </li>
            <li class="mega-menu__item mega-menu__item--show-more">
              <a href="/" class="mega-menu__link mega-menu__link--show-more">Показать все</a>
            </li>
          </ul>
        </div>
        <div class="mega-menu__card">
          <img src="/images/service6.svg" alt="" class="mega-menu__icon" />
          <ul class="mega-menu__list">
            <li class="mega-menu__item mega-menu__item--title">
              <a href="/" class="mega-menu__link mega-menu__link--title">Полировка</a>
            </li>
            <li class="mega-menu__item">
              <a href="/" class="mega-menu__link">Полировка металла</a>
            </li>
            <li class="mega-menu__item mega-menu__item--show-more">
              <a href="/" class="mega-menu__link mega-menu__link--show-more">Показать все</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
