<div id="popup-request" style="display: none">
  <form action="#" class="hero-form hero-form--modal">
    <div class="hero-form__wrapper">
      <div class="hero-form__title">Оставить заявку</div>
      <div class="hero-form__sections">
        <div class="hero-form__section">
          <span class="hero-form__label">Имя</span>
          <input type="text" class="hero-form__input-name hero-form__input" name="name" placeholder="Ваше имя..." />
        </div>
        <div class="hero-form__section">
          <span class="hero-form__label">Укажите номер телефона</span>
          <input type="tel" class="hero-form__input-phone hero-form__input" name="phone" />
        </div>
      </div>
      <div class="hero-form__section">
        <span class="hero-form__label">Комментарий</span>
        <textarea
          class="hero-form__input-textarea hero-form__input"
          name="comment"
          placeholder="Загрузите чертеж или опишите задачу для расчета
стоимости и сроков вашего заказа"
        ></textarea>
      </div>

      <button class="hero-form__submit">Получить расчет бесплатно</button>
      <div class="hero-form__license">Нажимая на кнопку, я принимаю условия <a href="/" target="_blank">соглашения</a></div>
    </div>
  </form>
</div>
