<div id="popup-calculation" style="display: none">
  <form action="#" class="hero-form hero-form--modal">
    <div class="hero-form__wrapper">
      <div class="hero-form__title">Получите расчет стоимости и сроков</div>
      <div class="hero-form__files-wrapper">
        <div class="hero-form__dropzone-wrapper">
          <input type="file" id="popup-calculation-filepond" class="hero-form__file-input" name="files[]" multiple />
        </div>
        <div class="hero-form__files-description">Форматы: PDF / JPEG / STEP / SLDPRT / DXF / IPT / PRT / SAT</div>
      </div>
      <div class="hero-form__section">
        <span class="hero-form__label">Комментарий</span>
        <textarea
          class="hero-form__input-textarea hero-form__input"
          name="comment"
          placeholder="Загрузите чертеж или опишите задачу для расчета
стоимости и сроков вашего заказа"
        ></textarea>
      </div>
      <div class="hero-form__section">
        <span class="hero-form__label">Укажите номер телефона</span>
        <input type="tel" class="hero-form__input-phone hero-form__input" name="phone" />
      </div>
      <button class="hero-form__submit">Получить расчет бесплатно</button>
      <div class="hero-form__license">Нажимая на кнопку, я принимаю условия <a href="/" target="_blank">соглашения</a></div>
    </div>
  </form>
</div>
