<div class="social {{ className }}">
  <ul class="social__list">
    <li class="social__item">
      <a href="/" target="_blank" class="social__link {{#if isBlack}} social__link--black{{/if}}">
        <img src="/images/vk.svg" alt="" class="social__icon" />
      </a>
    </li>
    <li class="social__item">
      <a href="/" target="_blank" class="social__link {{#if isBlack}} social__link--black{{/if}}">
        <img src="/images/tg.svg" alt="" class="social__icon" />
      </a>
    </li>
    <li class="social__item">
      <a href="/" target="_blank" class="social__link {{#if isBlack}} social__link--black{{/if}}">
        <img src="/images/rutube.svg" alt="" class="social__icon" />
      </a>
    </li>
  </ul>
</div>
