.contacts-route {
  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  &__body {
    display: flex;
    gap: 32px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__column {
    flex: 1;
    background-color: var(--bg-deep-grey);
    border-radius: 16px;
    padding: 36px 32px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      padding: 24px 16px;
    }
  }
  &__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 32px;
    @media (max-width: 1024px) {
      margin-bottom: 16px;
    }
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
  &__column-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
    @media (max-width: 1024px) {
      margin-bottom: 16px;
    }
  }
  &__text {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 48px;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__img {
    margin-top: auto;
    width: 100%;
    aspect-ratio: 31 / 20;
    border-radius: 16px;
    margin-bottom: 48px;
    object-fit: cover;
    @media (max-width: 1024px) {
      height: auto;
    }
  }
  &__route-link {
    background-color: var(--slate);
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 24px;
    border-radius: 8px;
    width: fit-content;
    text-decoration: none;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 14px;
      padding: 14px 20px;
    }
  }
}
