.info {
  &__inner {
    background-color: var(--bg-deep-grey);
    padding: 36px 32px;
    border-radius: 16px;
    @media (max-width: 1024px) {
      padding: 20px 16px;
    }
  }
  &__title {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (max-width: 1024px) {
      font-size: 28px;
    }
  }
  &__title-small {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  &__title-big {
    margin-bottom: 40px;
  }
  &__inner-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
    &--numbers {
      counter-reset: list-counter;

      .service-details__item {
        padding-left: 28px;

        &::before {
          counter-increment: list-counter;
          content: counter(list-counter) ".";
          position: absolute;
          left: 0;
          top: 0;

          width: auto;
          height: auto;
          background: none;
          border-radius: 0;

          color: var(--grey);
          font-weight: 250;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  &__item {
    color: var(--grey);
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    padding-left: 14px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      background-color: var(--slate);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      top: 14px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--grey);
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
  }
  &__more {
    display: block;
    margin-top: 32px;
    color: var(--steel);
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    margin-top: 24px;
    display: block;
  }
}
