.video-section {
  &__body {
    display: flex;
    gap: 32px;
    margin-top: 44px;
    align-items: center;
    @media (max-width: 1420px) {
      gap: 24px;
      flex-direction: column;
    }
    @media (max-width: 768px) {
      margin-top: 22px;
    }
  }
  &__info {
    flex: 1;
  }
  &__video {
    flex: 1;
  }
  &__info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__info-text {
    margin-top: 22px;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 24px;
      gap: 0;
    }
  }
  &__card-secondary-text {
    color: var(--grey);
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    @media (max-width: 768px) {
      margin-top: 18px;
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__more-btn {
    margin-top: 32px;
  }
  &__video {
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 1420px) {
      width: 100%;
    }
    iframe {
      width: 100%;
    }
  }
}
